.form-div-contact-us {
  width: 70%;
  font-weight: bold;
  padding: 2em;
  border: 1px solid #ccc;
  margin: auto;
  margin-top: 1em;
  margin-bottom: 1em;
  border-radius: 20px;
}

.form-div-contact-us h1 {
  padding-bottom: 0.5em;
}

.form-div-contact-us h4 {
  padding-bottom: 0.5em;
}

.form-div-contact-us button {
  width: 10em;
  margin: 1em;
  margin-left: auto;
  margin-right: auto;
  background-color: #0f4beb;
  border-radius: 6px;
}

.form-group {
  width: 100%;
}
