.form-div {
  font-weight: bold;
  margin: auto;
  margin-top: 5em;
  margin-bottom: 5em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5%;
  width: fit-content;
  padding: 1.5em;
}

.form-div h2,
.form-div input {
  margin-bottom: 1em;
}

.form-div input {
  line-height: 2em;
  width: fit-content;
}

.firstname-div,
.lastname-div {
  display: inline-block;
}

.firstname-div {
  margin-right: 0.5em;
}

.form-div button {
  width: 100%;
  font-size: 1.2rem;
  padding: 0.3em;
  margin-top: 0.5em;
}
