.bg-light {
  background: #ebebeb !important;
}

.mr-auto {
  width: 100%;
}

.nav-bar {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.19);
}

.nav-link {
  font-family: Arial;
  color: #000000 !important;
  font-weight: bold;
  height: fit-content;
}

.nav-link:hover {
  border-bottom: 0.3em solid #0f4beb;
}
