/* Animation */
@keyframes transitionIn {
  from {
    opacity: 0;
    transform: rotateY(-10px);
  }

  to {
    opacity: 1;
    transform: rotateY(0);
  }
}

/* Animation for tag buttons */
@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(300px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Table */

.table-title {
  padding: 2rem 2rem 2rem 2rem;
}

.content-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  animation: transitionIn 0.75s;
  font-family: sans-serif;
}

.content-table thead {
  background-color: #0f4beb;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

.content-table th,
.content-table td {
  padding: 12px 15px;
}

.content-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:last-of-type {
  border-bottom: 2px solid #0f4beb;
}

.content-table tbody tr:hover {
  background-color: #f3f3f3;
  cursor: pointer;
}

.back-button {
  width: fit-content;
  color: rgba(0, 0, 0, 0.54);
  margin: 2rem 1rem 1rem 4rem;
  background-color: white;
}

.tag-btn {
  width: fit-content;
  margin: 1rem;
  animation: slideIn 1.5s ease-out;
  border-radius: 25px;
  background-color: #0f4beb;
}

.tag-panel {
  background-color: #f7f7f7;
  border: 1px solid rgba(0, 0, 0, 0.42);
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.tag-title {
  align-self: center;
}

.link-course {
  align-self: center;
}

.modal h5 {
  text-align: left;
}
